* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 410px;
}

.time-text {
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 17px;
}

.btn-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  flex: 1;
  border: none;
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  color: white;
}

.btn.start {
  background: #4caf50;
}

.btn.start:hover {
  background: #43a047;
  transform: scale(1.05);
}

.btn.pause {
  background: #ff9800;
}

.btn.pause:hover {
  background: #f57c00;
  transform: scale(1.05);
}

.btn.reset {
  background: #e53935;
}

.btn.reset:hover {
  background: #c62828;
  transform: scale(1.05);
}
